@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

/*Shared*/

article h2 {
    font-family: 'Iceberg', cursive;
    color: #575859;
    font-weight: bold;
    font-size: 30px;
}

.divider { /* Rule for styling the thin line divider used to seperate content in multiple places in the article */
    width: 100%;
    height: 1px;
    background-color: #666666;
    margin-bottom: 5px;
    box-shadow: 0 0 2px  grey;
}

/*Home Page*/

#robotBanner {
    width: 100%;
    border-bottom: 10px solid grey;
}

#aboutHeading {
    font-weight: normal;
    font-size: 300%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: normal;
    padding-left: 5%;
    padding-right: 5%;
}

#homeProductBanner {
    display: flex;
    margin-top: 90px;    
    margin-bottom: 50px;
}

.homeBannerItem {
    flex: 1;
    text-decoration: none;
}

.homeBannerItem+.homeBannerItem {
    margin-left: 20px;
}

.homeBannerItem img {
    width: 100%;
    box-shadow: 5px 5px 5px grey;
}

.homeBannerItem:hover img {
    outline: 2px solid #C5110B;
}

.homeBannerItem:hover h2 {
    color: #C5110B;    
    transition-duration: 0.25s;
}

.homeBannerItem p {
    margin-left: 5px;
    color: black;
    font-size: 13pt;
}

#splitSection {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
}

#splitSection h2 {
    margin-top: 0;
}

#news {
    flex: 1;
}

.newsItem {
    margin-bottom: 30px;
}

.newsItem h3 {
    color: #968280;
}

.newsItem p {
    margin-bottom: 0;
}

.date {
    margin-top: 0;
    float: right;
    color: #C5110B;
    font-style: italic;
    font-size: 90%;
}

#readerInteraction {
    flex: content;
    width: 25vw;
    height: fit-content;
    padding: 20px;
    margin-left: 5vw;
    background-color: white;
}

/* Styling and animations for the results bar chart of the reader poll section. */

.bar {
    margin: 10px;
    padding: 5px;
    display: inline-block;
    background-color: #ee918e;
    
}

.bar#baryes:not(.selected) {
    width: 60%;
    animation-name: yes_bar_appear;
    animation-duration: 1s;
}

.bar#barno:not(.selected) {
    width: 40%;
    animation-name: no_bar_appear;
    animation-duration: 1s;
}

.bar#baryes.selected { /* The rules are seperated in this awkward way because the only way to play two different animations on the same element is to have them be called within the same rule. */
    width: 60%;
    background-color: #C5110B;
    animation: 1s yes_bar_appear, 2.5s selected_bar_appear;
}

.bar#barno.selected {
    width: 40%;
    background-color: #C5110B;
    animation: 1s no_bar_appear, 2.5s selected_bar_appear;
}

#compHeading {
    padding-top: 20px;
}

@keyframes selected_bar_appear { /* Keyframes to fade the selected bar from the same salmon colour as the unselected bar to a red colour, indicating the user's choice. */
    from {
        background-color: #ee918e;
    }
    to {
        background-color: #C5110B;
    }
}

@keyframes yes_bar_appear { /* Keyframes for increasing the width of the bars gradually, making it look like they grow from the left. */
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
}

@keyframes no_bar_appear {
    from {
        width: 0;
    }
    to {
        width: 40%;
    }
}

/*Products Page*/

#store {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#thumbnails {
    flex: fit-content;
    display: flex;
    flex-direction: column;
}

#thumbnails img {
    border: solid #C5110B 1px;
    margin-bottom: 10px;
}

#productImage {
    flex: 65%;    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#productImage img {
    width: 100%;
    height: auto;
    border: solid white 10px;
}

#purchase {
    flex: 35%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

#purchase h2 {
    margin-bottom: 0;
}

#price {
    margin-top: 5px;
    color: #C5110B;
    font-size: 150%;
}

#dropdowns {
    display: flex;
}

#dropdowns select {
    flex: 1;
    margin-bottom: 10px;
    font-size: 125%;
}

#dropdowns>select+select {
    margin-left: 10px;
}

#purchase button {    
    cursor: pointer;
    padding: 10px;
    background-color: #C5110B;
    color: white;
    font-size: 150%;
    font-weight: bold;
    border: none;
}

#purchase button:hover {
    outline: 3px solid black;
}

#purchase #stockist {      
    text-decoration: none;
    margin-top: 19px;
    margin-bottom: 19px;
}

#purchase #stockist h3 {
    align-self: flex-end;  
    color: grey;
    text-align: right;
    margin: 0;
}

#purchase #stockist h3:hover {
    color: black;
}

#share {    
    display: flex;
    align-self: flex-end;
    color: grey;
}

#share h3 {
    margin: 0;
}

#share img {
    margin-left: 5px;
    width: 15px;
}

#share a:hover img {
    outline: solid black 1px;
}

#similarProductBanner {
    display: grid; /* Flexbox proved very awkward to use in this application, giving a lot of trouble at small screen sizes, grid produced the desired result. */
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    margin-bottom: 15px;
}

#similarProductBanner a {
    margin: 15px;
}

#similarProductBanner a img {
    width: min(max(100%, 138px), 200px);
    margin-left: auto;
    margin-right: auto;
}

#similarProductBanner a:hover img {
    outline: black solid 2px;
}

#reviews #title {
    display: flex;
}

#reviews #title h2 {
    flex: content;
    flex-basis: 235px;
    margin-right: 5px;
}

#exampleStars {
    flex: content;
    color: #C5110B;
    font-size: 30px;    
    margin-bottom: 0;
    align-self: center;
}

.star {
    font-size: 35px;
    margin: 0;
    margin-right: 6px;
}

.red {
    color: #C5110B;
}

.black {
    color: black;
}

.reviewDivider {
    width: 100%;
    height: 1px;
    background-color: #9797979f;
    margin-bottom: 5px;
}

#reviews ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#reviews .reviewContent {
    display: flex;
    flex-wrap: wrap;
}

#reviews .reviewContent .pfp {
    flex: 20%;    
}

#reviews .reviewContent .pfp img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: max(70%, 90px);
}

#reviews .reviewContent .reviewInfo {
    margin-top: 3%;
    flex: 25%;
}

#reviews .reviewContent .reviewInfo h3 {
    margin-top: 0px;
    color: #333333;
}

#reviews .reviewContent .reviewInfo .rating {
    display: flex;
}

#reviews .reviewContent p {
    flex: 50%;
    color: #333333;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 10px;
    font-size: 150%;
}

#reviews button {
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 270px;
    cursor: pointer;
    background-color: #C5110B;
    color: white;
    font-size: 150%;
    font-weight: bold;    
    border: none;
    border-radius: 15px;
}

#reviews button:hover {
    border: 3px solid black;
}

/*  Mobile viewport adjustments */

@media all and (max-width: 900px) {

    /* Page Gutter Replacements for both pages to prevent content touching the edge of the viewport. */

    #homeProductBanner, #splitSection, #similarProducts, #reviews {
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Home Page */

    #homeProductBanner {
        flex-wrap: wrap;
    }

    .homeBannerItem {
        flex-basis: 40%;
    }

    .homeBannerItem+.homeBannerItem {
        margin-left: 0px;
    }

    .homeBannerItem+.homeBannerItem:nth-child(2n) {
        margin-left: 20px;
    }

    /* Products Page */

    #splitSection {
        display: block;
    }

    #readerInteraction {
        width: auto;
        margin-left: 0;
        margin-top: 50px;
    }

    #store {        
        flex-wrap: wrap;
    }

    #purchase {        
        margin-left: 0px;
    }
}

@media all and (max-width: 405px) { /* When the viewport gets small enough to force the main store image to wrap onto the next line, it looks much nicer for the thumbnails to go horizonatlly above it. */
    #thumbnails {
        flex-direction: row;
    }
}